<div id="preloader">
    <div class="preloader-content">
        <svg class="logo" viewBox="0 0 300 100" width="160" height="80" fill="#fff" xmlns="http://www.w3.org/2000/svg">
        <text
                x="50%"
                y="50%"
                dominant-baseline="middle"
                text-anchor="middle"
                font-size="64"
                font-family="Raleway, sans-serif"
                font-weight="700"
        >
            БЕВУРА
        </text>
    </svg>

        <div class="progress-bar">
            <div class="progress-fill"></div>
        </div>
    </div>
</div>