---
permalink: "requisites/index.html"
description: "Полная информация о юридических и банковских реквизитах ООО Бевура. Адрес, IBAN, БИК, УНП."
keywords: "Бевура, реквизиты, IBAN, БИК, УНП, Гродно, Мосты, кормовая продукция, шрот, корм"
layout: layouts/base.njk
preload: true
title: Реквизиты
---
{% from "components/productCard.njk" import productCard %}

<section class="requisites-page__section">
    <div class="requisites-page__inner-div">
        <iframe id="google_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2378.1028539055415!2d24.517239676587796!3d53.41298666973526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfa4c24f784c37%3A0x1d12520fc42f0539!2z0YPQuy4g0JLQvtC70LrQvtCy0LjRh9CwIDgsINCc0L7RgdGC0YssINCT0YDQvtC00L3QtdC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1755614467841!5m2!1sru!2sby" width="50%" height="300" style="border: 0; border-radius: 16px; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="requisites-page_inner-div__item">
            <h1 class="requisites-logo">ООО "Бевура"</h1>
            <div>
                <h3 class="requisites-subheader">Юридический адрес</h3>
                <p class="requisites-p">231600, Гродненская область, г. Мосты, Улица Волковича, 8, комната 1.</p>
            </div>
            <div>
                <h3 class="requisites-subheader">Расчетный счет</h3>
                <div class="requisites-div">
                    <p class="requisites-p">IBAN: BY10BAPB30128615600100000000</p>
                    <button class="copy-button" id="copy-iban">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/></svg>
                    </button>
                </div>
                <div class="requisites-div">
                    <p class="requisites-p">БИК: BAPBBY2X</p>
                    <button class="copy-button" id="copy-bik">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/></svg>
                    </button>
                </div>
                <div class="requisites-div">
                    <p class="requisites-p">УНП: 591672139</p>
                    <button class="copy-button" id="copy-unp">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/></svg>
                    </button>
                </div>
                <p class="requisites-p">Банк: ОАО "Белагропромбанк"</p>
            </div>
        </div>
    </div>
</section>
<section class="requisites-page__section">
    <p class="requisites-p">Мы ценим доверие наших партнёров и стремимся к прозрачности во всех аспектах сотрудничества. Нам важно, чтобы каждый клиент чувствовал уверенность в надёжности нашей компании. Предоставляем полную информацию о юридических и банковских реквизитах для вашего спокойствия и удобства. Соблюдаем все нормы действующего законодательства и налогового учёта. Работаем официально, заключаем договоры и обеспечиваем сопровождение сделок. Спасибо, что выбираете нас — ваш комфорт и доверие для нас на первом месте.</p>
</section>
<section class="requisites-page__section">
    <h2 class="section-header">ПРОДУКЦИЯ</h2>
        <div class="cards-wrapper" id="products-wrapper">
            {% for item in products %}
                {{ productCard(item.productTitle, item.productDescription, item.productImg, item.productKey) }}
            {% endfor %}
        </div>
</section>