:root {
    --background-white: #F5F5F0;
    --brand-green: #6F974D;
    --brand-dark-green: #56753b;
    --black: #201E1E;
    --brown: #836953;
    --gray: #cacaca;
    --red: #ED4337;
}

body {
    background-color: var(--background-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
}

p, a {
    font-family: Roboto, sans-serif;
    color: var(--black);
}

/*Preloader*/

#preloader {
    position: fixed;
    inset: 0;
    background-color: var(--brand-green);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.4s ease;
}

.preloader-content {
    text-align: center;
    color: #fff;
}

.logo {
    margin-bottom: 1rem;
}

.progress-bar {
    width: 160px;
    height: 6px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
}

.progress-fill {
    width: 0;
    height: 100%;
    background: #fff;
    animation: fillProgress 2s ease-out forwards;
}

@keyframes fillProgress {
    to {
        width: 100%;
    }
}

/*Main*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 940px;
    width: 100%;
    margin: 0 32px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin: 64px auto 0 auto;
    background-color: var(--brown);
}

.footer-nav {
    display: flex;
    max-width: 940px;
    width: 100%;
    margin: 0 32px;
    justify-content: space-between;
    align-items: center;
}

.footer-nav__item {
    color: var(--background-white);
    font-size: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

.brand-name {
    font-weight: bold;
    font-size: 32px;
    color: var(--brand-green);
    letter-spacing: initial;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    height: min-content;
}

.main-nav a,
.dropdown-button {
    /*padding: 0.5rem 0.75rem;*/
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-family: Raleway, sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}
nav a:hover, .dropdown-button:hover {
    color: var(--brand-green);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    background: var(--background-white);
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    list-style: none;
    padding: 0.25rem 0;
    margin: 0;
    min-width: 210px;
    z-index: 1000;

    opacity: 0;
    transform: translateY(8px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown-menu li a {
    display: block;
    padding: 0.5rem 0.75rem;
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease;
}

.dropdown-menu li a:hover {
    background: transparent;
    color: var(--brand-green);
}

.dropdown-menu li:first-child {
    border-bottom: 1px solid var(--gray);
}

/* Открытое меню */
.dropdown.open .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

section {
    max-width: 940px;
    width: 100%;
    margin: 64px 16px 32px 16px;
    padding: 0 16px;
}

.dropdown-button {
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

.card {
    aspect-ratio: 350/450;
    border-radius: 16px;
    max-width: 335px;
    width: 100%;
    height: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filled-card {
    background-color: var(--brand-green);
    color: var(--background-white);
}

.card-sign {
    font-size: clamp(14px, 2.5vw, 24px);
    font-weight: bold;
}

.card-header {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: bold;
    color: var(--background-white);
    line-height: clamp(23px, 3.84vw, 46px);
    margin-bottom: 24px;
}

.card-text {
    font-size: clamp(14px, 2vw, 20px);
    font-weight: normal;
    color: var(--background-white);
    font-family: Roboto, sans-serif;
    text-align: start;
}

.outlined-card {
    border: 2px solid var(--brand-green);
    background-color: var(--background-white);
    color: var(--brand-green);
}

.outlined-card h3, .outlined-card p {
    color: var(--brand-green);
}

.section-header {
    color: var(--black);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 32px;
}

.hero-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: calc(100vw - 64px);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/cows.webp");
    margin: 0 32px;
    padding: 0 32px;
    border-radius: 32px;
    color: var(--background-white);
    font-weight: normal;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 940px;
    width: 100%;
    gap: 8px;
}

.hero-brand-text {
    font-size: clamp(2em, 5vw, 4em);
    font-weight: bold;
    line-height: clamp(0.85, 0.87, 0.875);
}
.hero-slogan-text {
    font-size: clamp(1.5em, 3vw, 2em);
}
.hero-description-text {
    font-family: Raleway, serif;
    font-size: clamp(1em, 2vw, 1.5em);
    color: var(--background-white);
}

.request-a {
    color: var(--background-white);
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--brand-green);
    padding: 12px 18px;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

.request-a:hover {
    background-color: var(--brand-dark-green);
}

.cards-wrapper {
    max-width: 940px;
    width: 100%;
    display: flex;
    height: auto;
    gap: 10px;
    justify-content: space-between;
    margin: 0 auto;
}

#products-wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* плавная фиксация карточек */
    -webkit-overflow-scrolling: touch;
}

#products-wrapper::-webkit-scrollbar {
    display: none;
}

#products-wrapper {
    scrollbar-width: none; /* Firefox */
}

.product-card {
    display: flex;
    background-size: cover;
    min-height: 250px;
    border-radius: 16px;
    min-width: 400px;
}

.gradient-overlay {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 4px;
    position: relative;
    margin-top: auto;
    padding: 0 16px 16px 16px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
}

.product-header {
    font-family: Raleway, sans-serif;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    line-height: clamp(1.25rem, 1.5vw, 1.5rem);
    font-weight: 600;
}

.product-desc {
    font-family: Inter, sans-serif;
    font-size: clamp(0.875rem, 1.125vw, 1rem);
    line-height: clamp(1.25rem, 1.4vw, 1.5rem);
}

.product-image {
    border-radius: 16px;
}

.product-header, .product-desc {
    color: var(--background-white);
}

.outlined-button {
    display: block;
    max-width: fit-content;
    padding: 8px 18px;
    border: 2px solid var(--brand-green);
    color: var(--background-white);
    border-radius: 8px;
    margin: 2px;
    transition: all 0.2s ease-in-out;
}

.outlined-button:hover {
    background-color: var(--brand-green);
}

.filled-button {
    font-family: Inter, sans-serif;
    display: block;
    max-width: fit-content;
    padding: 8px 18px;
    border-radius: 8px;
    margin: 2px;
    background-color: var(--brand-green);
    color: var(--background-white);
    border: none;
    transition: all 0.2s ease-in-out;
}

.filled-button:hover {
    background-color: var(--brand-dark-green);
}

.product-card__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}

.secondary-link {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #b2b2b2;
    padding: 4px 12px;
    transition: all 0.2s ease-in-out;
}

.secondary-link:hover {
    color: var(--background-white);
}

.section-block {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.section-block__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    gap: 16px;
}

.section-block__item:first-child {
    flex: 2;
}

.main-form__block__item {
    display: flex;
    flex-direction: column;
}

#main-form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    border-radius: 16px;
    padding: 32px;
    background-image: url("./images/PATTERN.svg");;
}

.main-form__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

input, textarea {
    font-family: Inter, sans-serif;
    background-color: var(--background-white);
    border: 2px solid var(--gray);
    border-radius: 8px;
    padding: 5px
}

input:active, textarea:active, textarea:focus, input:focus {
    outline: none;
    border: 2px solid var(--brand-green);
}

.form-label {
    font-family: Raleway, sans-serif;
    color: var(--black);
    font-size: 16px;
}

.form-label b {
    font-size: 20px;
    color: red;
}

.form-header {
    font-family: Raleway, sans-serif;
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.form-button__block {
    display: flex;
    gap: 16px;
}

.clear-button {
    background-color: transparent;
    border: none;
    font-family: Inter, sans-serif;
    color: var(--brand-green);
    font-weight: 600;
    cursor: pointer;
}

.white-brand-name {
    color: var(--background-white);
}

/*Product page*/

.product-page__main-block {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.product-page__main-block__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-section {
    margin: 32px auto 0 auto;
}

.product-page__header, .product-page__price {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.product-page__p {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: start;
    line-height: 1.6;
}

.order-product {
    max-width: unset;
    width: 100%;
}

.product-specs {
    font-family: Inter, sans-serif;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 24px 0;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--gray);
}

.product-specs th,
.product-specs td {
    padding: 0.75rem 1rem;
    border: 1px solid var(--gray);
    text-align: left;
    width: 50%;
}

.product-specs th {
    /*border: none;*/
    font-family: Raleway, sans-serif;
    background-color: var(--brand-green);
    color: var(--background-white);
}

.product-page__ul-header {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0;
}

.delivery-toggle {
    display: flex;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    user-select: none;
    gap: 4px;
}

.delivery-toggle__label {
    font-family: Inter, sans-serif;
    font-size: 16px;
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid var(--brand-green);
    color: var(--brand-green);
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    width: 100%;
    text-align: center;
    height: 40px;
}

.delivery-toggle__label:first-of-type {
    border-radius: 8px 0 0 8px;
}

.delivery-toggle__label:last-of-type {
    border-radius: 0 8px 8px 0;
    margin-left: -2px;
}

.delivery-toggle__radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.delivery-toggle__radio:checked {
    background-color: var(--brand-green);
    color: #fff;
}

.delivery-toggle__radio:hover + .delivery-toggle__label {
    background-color: var(--brand-green);
    color: var(--background-white);
}

.delivery-toggle__radio:checked + .delivery-toggle__label {
    background-color: var(--brand-green);
    color: var(--background-white);
}

/* Counter component */

.counter {
    display: flex;
    gap: 2px;
    width: 50%;
}

#counter-input {
    width: 100%;
    text-align: center;
    background: transparent;
    -moz-appearance: textfield;
}

#counter-input::-webkit-outer-spin-button,
#counter-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#product-price {
    font-weight: 600;
}

.small-hint {
    font-size: 11px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: #515151;
    margin-top: 4px;
}

/* requisites page */

.requisites-page__inner-div {
    display: flex;
    width: 100%;
    gap: 16px;
}

.requisites-page_inner-div__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.requisites-logo {
    font-size: 32px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

.requisites-subheader {
    font-size: 20px;
    font-weight: 600;
    font-family: Raleway, sans-serif;
}

.requisites-p {
    font-size: 16px;
    font-family: Inter, sans-serif;
}

.requisites-div {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 4px;
}

.copy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-family: Inter, sans-serif;
    font-size: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgba(202, 202, 202, 0.4);
    padding: 8px 2px;
    transition: all 0.2s ease-in-out;
}

.copy-button:hover {
    background-color: rgba(202, 202, 202, 0.7);
}

.copy-button svg {
    transition: opacity 0.1s ease;
}

.copy-button.copied {
    background-color: #6F974D;
    color: #fff;
    padding: 8px 8px;
}

.copy-button.copied svg {
    display: none;
}

.copy-button span {
    transition: opacity 0.3s ease;
}

.copy-button:not(.copied) span {
    display: none;
    position: absolute;
}

/*burger code*/

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.burger span {
    display: block;
    height: 3px;
    background: var(--brand-green);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.burger.active span:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
}
.burger.active span:nth-child(2) {
    opacity: 0;
}
.burger.active span:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.menu-overlay.active {
    display: flex;
    animation: fadeIn 0.3s ease;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.overlay-content a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--brand-green);
    transition: all 0.2s ease-in-out;
}

.overlay-content a:hover {
    color: var(--brand-dark-green);
}

.overlay-brand {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--brand-green);
}

.requisites-page__section {
    margin: 32px 16px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 16px;
    padding: 32px;
    background-image: url("./images/PATTERN.svg");;
    margin-top: 32px;
}

#addons {
    resize: none;
}

.checkout-form .form-button__block {
    margin-top: 12px;
}

.checkout-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

input.error, textarea.error {
    border: 1px solid var(--red);
}
.error-message {
    color: var(--red);
    font-size: 0.85em;
    font-family: Inter, sans-serif;
    margin-top: 4px;
    display: block;
}

.middleName-input {
    position: absolute;
    left: -9999px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.toast {
    font-family: Raleway, sans-serif;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background: var(--brand-green);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}
.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
}

@media only screen and (max-width: 979px) {
    header {
        padding: 0 20px;
    }

    .hero-slide {
        margin: 0 16px;
        max-width: calc(100vw - 32px);
    }

    .footer-nav {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(3, auto);
        gap: 8px 32px;
    }

    .footer-nav > *:nth-child(4) {
        grid-column: 2; /* ставим под второй элемент */
    }

    .footer-nav > *:nth-child(5) {
        grid-column: 3; /* ставим под третий элемент */
    }

}

@media only screen and (max-width: 768px) {
    #main-form__section .section-block {
        flex-direction: column;
    }

    #main-form__section .section-block__item {
        width: 100%;
    }

    .main-nav {
        display: none;
    }

    .burger {
        display: flex;
    }

    .product-page__main-block {
        flex-direction: column;
        gap: 16px;
    }

    .product-image {
        max-height: 350px;
        object-fit: cover;
    }

    .counter {
        max-width: 200px;
    }

    .product-section {
        margin: 16px auto 0 auto;
    }
    .product-section:nth-child(2) {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .product-specs {
        margin: 12px 0;
    }

    .requisites-page__inner-div {
        flex-direction: column;
    }

    .requisites-page_inner-div__item {
        width: 100%;
    }

    #google_map {
        width: 100%;
    }

    .requisites-page__section {
        margin: 24px 16px;
    }
}

@media only screen and (max-width: 600px){
    .cards-wrapper {
        flex-direction: column;
    }

    .card {
        width: 100%;
        max-width: none;
        aspect-ratio: unset;
    }

    .card-sign {
        margin-top: 8px;
        text-align: end;
    }

    .gradient-overlay {
        margin-top: unset;
        height: unset;

    }
}

@media only screen and (max-width: 580px){
    .footer-nav {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 450px) {
    .section-header {
        font-size: 28px;
    }
    .product-card {
        min-width: 200px;
    }
    .product-desc {
        display: none;
    }
    .product-header {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .gradient-overlay {
        padding: 16px;
    }
    .product-card__buttons .outlined-button {
        font-size: 14px;
    }

    .counter {
        max-width: none;
        width: 100%;
    }

    .product-specs td {
        font-size: 14px;
    }

    .product-page__p {
        font-size: 16px;
    }

    .product-page__ul li{
        font-size: 16px;
    }

    .delivery-toggle__label {
        font-size: 14px;
    }

    .form-button__block .filled-button, .form-button__block .outlined-button {
        font-size: 14px;
    }
}